<h1>Edit a figure</h1>
<form action="/figures/<%= @figure.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<h2><label>Name: </label><input type="text" name="figure[name]" value="<%=@figure.name%>" id="figure_name"></h2>

<h2>Select an existing title: </h2>
<p><% @titles.each do |title|%>
<input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" <%= 'checked' if @figure.titles.include?(title) %> id="title_<%=title.id%>"><%= title.name%></input>
<%end%></p>
<h3><label>and/or, create a new title:<label>
<input type="text" name="title[name]" id="new_title"></h3>

<h2>Select an existing landmark: </h2>
<p><% @landmarks.each do |landmark|%>
<input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" <%= 'checked' if @figure.landmarks.include?(landmark) %> id="landmark_<%=landmark.id%>"><%= landmark.name%></input>
<%end%></p>
<h3><label>and/or, create a new landmark:<label>
<input type="text" name="landmark[name]" id="new_landmark"></h3>

<input type="submit" value="Edit Figure"></input>
</form>