<h1>Create a new figure</h1>
<form action='/figures' method="POST">
<h2><label>Name: </label><input type="text" name="figure[name]" id="figure_name"></h2>

<h2>Select an existing title: </h2>
<p><% @titles.each do |title|%>
<input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%= title.name%></input>
<%end%></p>
<h3><label>and/or, create a new title:<label>
<input type="text" name="title[name]" id="new_title"></h3>

<h2>Select an existing landmark: </h2>
<p><% @landmarks.each do |landmark|%>
<input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%= landmark.name%></input>
<%end%></p>
<h3><label>and/or, create a new landmark:<label>
<input type="text" name="landmark[name]" id="new_landmark"></h3>

<input type="submit" value="Create New Figure"></input>
</form>